body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: normal;
  font-weight: 700;
}

/*BODY QUERIES*/
@media only screen and (max-width:240px) {
  * {
    display: none;
  }
}

/*TOPBAR*/
.topbar {
  height: 40px;
  background-color: #F4F4F4;
}

#myBtn {
  background-color: #F4F4F4;
  border: none;
  color: #B2B2B2;
  padding: 11px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
}

#myBtn:hover {
  background-color: #c3c3c3;
  color: #ececec;
}

.region-idea {
 display: none;
}

.region-idea li {
  position: relative;
  background-color: #F4F4F4;
  border: none;
  color: #B2B2B2;
  padding: 11px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  list-style: none;
}

.region-idea li:hover {
  color: transparent;
}

#bih:hover{
  background-image: url(https://flaglane.com/download/bosnian-flag/bosnian-flag.svg);
  background-size: 49.56px 40px;
  background-repeat: no-repeat;
  opacity:0.4;
}

#cro:hover{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/1/1b/Flag_of_Croatia.svg);
  background-size: 57.56px 40px;
  background-repeat: no-repeat;
  opacity:0.3;
}

#ser:hover{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/ff/Flag_of_Serbia.svg);
  background-size: 54.91px 40px;
  background-repeat: no-repeat;
  opacity:0.6;
}

#mne:hover{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/64/Flag_of_Montenegro.svg);
  background-size: 57.56px 40px;
  background-repeat: no-repeat;
  opacity:0.3;
}

.language {
  position: absolute;
  display: inline-block;
  right: 2%
}

.language a {
  padding: 8px;
  line-height: 40px;
  color: #B2B2B2;
  text-decoration: none;
}

.language a:hover {
  background-color: #c3c3c3;
  color: #ececec;
}

/*MEDIA QUERIES*/

@media only screen and (max-width:490px){
  #myBtn{
    position: absolute;
  }

  .region-idea li{
    display:block;
    position: relative;
    background-color: white;
    background-position: center;
    width: 60px;
    top:40px;
    left:0px;
    border: 0.5px solid #c3c3c3;
    border-top: none;
  }
}

/*TOPBAR - MEDIA QUERIES*/
/*REGIONS*/
/*
** .regions {
**   display: none;
**   position: fixed;
**   z-index: 1;
**   left: 0;
**   top: 0;
**   width: 100%;
**   height: 100%;
**   overflow: auto;
**   background-color: rgb(0, 0, 0);
**   background-color: rgba(0, 0, 0, 0.4);
** }
**
** .regions-content {
**   position: relative;
**   background-color: #fefefe;
**   margin: 15% auto;
**   padding: 0;
**   border: 1px solid #888;
**   width: 80%;
**   height: 680px;
** }
**
** .close {
**   color: black;
**   float: right;
**   font-size: 70px;
**   font-weight: bold;
** }
**
** .close:hover,
** .close:focus {
**   color: black;
**   text-decoration: none;
**   cursor: pointer;
** }
**
** #verticalLine {
**   position: absolute;
**   top: 0;
**   left: 50%;
**   width: 1px;
**   height: 100%;
**   background-color: #B2B2B2;
** }
**
** #horizontalLine {
**   position: absolute;
**   top: 50%;
**   left: 0;
**   width: 0;
**   height: 1px;
**   width: 100%;
**   background-color: #B2B2B2;
** }
**
** #bosniapic {
**   padding: 0;
**   margin: 0;
**   width: 50%;
**   height: 50%;
**   float: left;
** }
**
** #bosniapic img {
**   margin-top: 27px;
**   margin-left: auto;
**   margin-right: auto;
**   display: block;
** }
**
** #serbiapic {
**   padding: 0;
**   margin: 0;
**   width: 50%;
**   height: 50%;
**   float: left;
** }
**
** #serbiapic img {
**   margin-top: 27px;
**   margin-left: auto;
**   margin-right: auto;
**   display: block;
** }
**
** #croatiapic {
**   padding: 0;
**   margin: 0;
**   width: 50%;
**   height: 50%;
**   float: left;
** }
**
** #croatiapic img {
**   margin-top: 27px;
**   margin-left: auto;
**   margin-right: auto;
**   display: block;
** }
**
** #montenegropic {
**   padding: 0;
**   margin: 0;
**   width: 50%;
**   height: 50%;
**   float: left;
** }
**
** #montenegropic img {
**   margin-top: 27px;
**   margin-left: auto;
**   margin-right: auto;
**   display: block;
** }
*/

/*REGIONS - MEDIA QUERIES*/
/*
** @media only screen and (max-width:800px) {
**   #bosniapic img {
**     width: 90%;
**     margin-top: 33px;
**   }
**
**   #serbiapic img {
**     width: 90%;
**     margin-top: 33px;
**   }
**
**   #croatiapic img {
**     width: 90%;
**     margin-top: 33px;
**   }
**
**   #montenegropic img {
**     width: 90%;
**     margin-top: 33px;
**   }
** }
**
** @media only screen and (max-width:700px) {
**   #bosniapic img {
**     margin-top: 44px;
**   }
**
**   #serbiapic img {
**     margin-top: 44px;
**   }
**
**   #croatiapic img {
**     margin-top: 44px;
**   }
**
**   #montenegropic img {
**     margin-top: 44px;
**   }
** }
**
** @media only screen and (max-width:600px) {
**   #bosniapic img {
**     margin-top: 67px;
**   }
**
**   #serbiapic img {
**     margin-top: 67px;
**   }
**
**   #croatiapic img {
**     margin-top: 67px;
**   }
**
**   #montenegropic img {
**     margin-top: 67px;
**   }
** }
**
** @media only screen and (max-width:500px) {
**   #bosniapic img {
**     margin-top: 84px;
**   }
**
**   #serbiapic img {
**     margin-top: 84px;
**   }
**
**   #croatiapic img {
**     margin-top: 84px;
**   }
**
**   #montenegropic img {
**     margin-top: 84px;
**   }
** }
**
** @media only screen and (max-width:500px) {
**   .close {
**     font-size: 40px
**   }
**
**   #bosniapic img {
**     margin-top: 102px;
**   }
**
**   #serbiapic img {
**     margin-top: 102px;
**   }
**
**   #croatiapic img {
**     margin-top: 102px;
**   }
**
**   #montenegropic img {
**     margin-top: 102px;
**   }
** }
**
** @media only screen and (max-width:300px) {
**   #bosniapic img {
**     margin-top: 119px;
**   }
**
**   #serbiapic img {
**     margin-top: 119px;
**   }
**
**   #croatiapic img {
**     margin-top: 119px;
**   }
**
**   #montenegropic img {
**     margin-top: 119px;
**   }
** }
*/

/*MAINBAR*/
#horiznav {
/*
**   box-shadow: 0px 3px 6px rgb(29, 96, 32);
*/
background: rgb(23,73,22);
background: -moz-linear-gradient(137deg, rgba(23,73,22,1) 0%, rgba(39,116,38,1) 100%);
background: -webkit-linear-gradient(137deg, rgba(23,73,22,1) 0%, rgba(39,116,38,1) 100%);
background: linear-gradient(137deg, rgba(23,73,22,1) 0%, rgba(39,116,38,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#174916",endColorstr="#277426",GradientType=1);
}

ul#horiznav, #horiznav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 50px;
}

#horiznav li {
  float: left;
  width: 20%;
  position: relative
}

#horiznav li a {
  display: block;
  width: 100%;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  color:white;
}

#submenu {
  display: none;
  position: absolute;
  width: 100%;
  margin-top: 0px!important;
}

#submenu li {
  background: white;
  border: 2px solid rgb(23,73,22);
  border-top: none;
}

#subitemone:hover{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/7c/Coat_of_arms_of_Zenica_%28yellow_half-moon%29.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

#subitemtwo:hover{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/6c/Coat_of_arms_of_Sarajevo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

#submenu li a{
  color:rgb(23,73,22);
}

#horiznav li:hover #submenu {
  display: block;
}

#submenu li {
  width: 100%;
}

#hr hr {
  background-color: rgb(23,73,22);
  border: 1px black;
  padding: 0px;
  margin: 0px;
  height: 5px;
}

.hamicon {
  position: absolute;
  display: none;
  top: 60px;
  right: 20px;
  font-size: 40px;
  color: rgb(23,73,22);
  background-color: white;
  border: 0;
}

/*MAINBAR - MEDIA QUERIES*/
@media only screen and (max-width:1000px) {
  #horiznav {
    display: none;
  }

  .hamicon {
    display: block;
  }

  body {
    background-color: #F4F4F4
  }

  .logo {
    background-color: white;
  }
}

/*MENU MODAL*/
.menuModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);/
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.closeMenu {
  background-color: white;
  color: black;
  padding: 0 4 0 4;
  position: absolute;
  top:2%;
  right:2%;
  font-size: 35px;
  font-weight: bold;
}

.closeMenu:hover,
.closeMenu:focus {
  background-color: gray;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.backMenu {
  display:none;
  background-color: white;
  color: black;
  padding: 0 4 0 4;
  position: absolute;
  top:2%;
  left:2%;
  font-size: 35px;
  font-weight: bold;
}

.backMenu:hover,
.backMenu:focus {
  background-color: gray;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.menuicons i {
  font-size: 100px;
  width: 100px;
}

.menuicon {
  left: 20px;
}

.menutext {
  margin-top: -50px;
  display: inline-block;
  font-size: 20px;
  color: rgb(108,139,61);
  vertical-align: middle;
}

#submodal-content-one {
  display: block;
  position: absolute;
  opacity: 0;
  width: 80%;
}

.submodal-items{
  padding: 50 0 50 0;
  font-size: 40px;
  color: white;
  text-align: center;
}

#submodal-content-first{
  background-color: rgb(47, 122, 133);
  border-radius:20px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/7c/Coat_of_arms_of_Zenica_%28yellow_half-moon%29.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

#submodal-content-second{
  background-color: rgb(47, 122, 133);
  border-radius:20px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/6c/Coat_of_arms_of_Sarajevo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

#submodal-content-two {
  display: block;
  position: absolute;
  opacity: 0;
  width: 80%;
}

#submodal-second-content-first{
  background: rgb(57,53,44);
  background: -moz-linear-gradient(137deg, rgba(57,53,44,1) 0%, rgba(98,90,77,1) 20%, rgba(98,90,77,1) 40%, rgba(49,42,32,1) 67%, rgba(22,18,19,1) 100%);
  background: -webkit-linear-gradient(137deg, rgba(57,53,44,1) 0%, rgba(98,90,77,1) 20%, rgba(98,90,77,1) 40%, rgba(49,42,32,1) 67%, rgba(22,18,19,1) 100%);
  background: linear-gradient(137deg, rgba(57,53,44,1) 0%, rgba(98,90,77,1) 20%, rgba(98,90,77,1) 40%, rgba(49,42,32,1) 67%, rgba(22,18,19,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#39352c",endColorstr="#161213",GradientType=1);
  border-radius: 20px;
}

#submodal-second-content-second{
  background: rgb(57,53,44);
  background: -moz-linear-gradient(137deg, rgba(57,53,44,1) 0%, rgba(98,90,77,1) 20%, rgba(98,90,77,1) 40%, rgba(49,42,32,1) 67%, rgba(22,18,19,1) 100%);
  background: -webkit-linear-gradient(137deg, rgba(57,53,44,1) 0%, rgba(98,90,77,1) 20%, rgba(98,90,77,1) 40%, rgba(49,42,32,1) 67%, rgba(22,18,19,1) 100%);
  background: linear-gradient(137deg, rgba(57,53,44,1) 0%, rgba(98,90,77,1) 20%, rgba(98,90,77,1) 40%, rgba(49,42,32,1) 67%, rgba(22,18,19,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#39352c",endColorstr="#161213",GradientType=1);
  border-radius:20px;
}

/*MENU MODAL - MEDIA QUERIES*/
@media only screen and (max-width:400px) {
  .menutext {
    width: 170px;
  }
}

@media only screen and (max-width:350px) {
  .menutext {
    width: 140px;
  }
}

@media only screen and (max-width:310px) {
  .menutext {
    width: 120px;
  }
}

@media only screen and (max-width:285px) {
  .menutext {
    width: 80px;
    font-size: 16px;
  }
}
